head
	title
		| #{headline}
	link(href='/styles/big.css',rel='stylesheet',media="(min-width: 1275px)")
	link(href='/styles/small.css',rel='stylesheet',media="(max-width: 1274px)")
	link(href='/styles/typeset.css',rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Inconsolata',rel='stylesheet',type='text/css')
	link(href='//f.fontdeck.com/s/css/J86ZhCp4rIWhbKCIgbZup4dv5Lc/DOMAIN_NAME/17481.css',rel='stylesheet',type='text/css')
	link(rel="icon",type="image/png",href="/favicon.png")
	script(src="/lib/jquery-3.0.0.min.js")
	script(src="/scripts/global.js")
	script(src="/scripts/a.js")
	meta(name="viewport",content="width=660")
