head
	title
		| #{headline}
	link(href='/styles/big.css',rel='stylesheet',media="(min-width: 1250px)")
	link(href='/styles/small.css',rel='stylesheet',media="(max-width: 1249px)")
	link(href='http://fonts.googleapis.com/css?family=Inconsolata',rel='stylesheet',type='text/css')
	link(href='http://f.fontdeck.com/s/css/sv3YaxXjXfaJS2RhlShcOaGHVKI/www.willruby.com/17481.css',rel='stylesheet',type='text/css')
	link(rel="icon",type="image/png",href="/favicon.png")
	script(src="/lib/jquery-3.0.0.min.js")
	script(src="/scripts/global.js")
	meta(name="viewport",content="width=660")