#nav
	h1
		| <a href="/">William Ruby</a>
	h3
		| Coding for Fun / Form / Function
	p
		| <a href="mailto:me@willruby.com">me@willruby.com</a> : 415.254.0564
	ul.categories
		li
			|<a href="/tag/installation">Installation</a>
		li
			|<a href="/tag/interactive">Interactive</a>
		li
			|<a href="/tag/other">Other</a>
		//	li
		//		|<a href="/tag/offbeat">Offbeat</a>
		- if (user)
			li
				|<a href="/tag/secret">Secret</a>
	ul
		li
			|<a href="/about">About</a>
		li
			|<a href="/colophon">Colophon</a>
	ul
		- if (user && user.role === 'admin')
			li
				|<a href="/edit/new">New Post</a>
			li
				|<a href="/edit">Posts</a>
		- if (user)
			li
				|<a href="/logout">Logout</a>
