#nav
	h1
		| <a href="/">William Ruby</a>
	h3
		| Coding for Fun / Form / Function
	p
		| <a href="mailto:me@willruby.com">me@willruby.com</a> : 248.667.8765
	ul.categories
		li
			|<a href="/tag/installation">Installation</a>
		li
			|<a href="/tag/interactive">Interactive</a>
		li
			|<a href="/tag/type">Type</a>
		li
			|<a href="/tag/experiments">Experiments</a>
	ul
		li
			|<a href="/about">About</a>
		li
			|<a href="/colophon">Colophon</a>
	- if (user)
		ul
			li
				|<a href="/edit/new">New Post</a>
			li
				|<a href="/edit">Posts</a>
			li
				|<a href="/logout">Logout</a>