doctype html
html(lang="en")
	include includes/head.jade

	body
		#wrapper
			canvas#histogram(width="1000px",height="200px")
			#content
				.block
					.rule
					.two
						.title
							h1
								| 404
						p
							| We're sorry, your call cannot be completed as dialed.
					.clear
			include includes/nav.jade
