doctype html
html(lang="en")
	include includes/head.jade
	script(src="/admin/admin.js")
	body
		#wrapper
			canvas#histogram(width="1000px",height="125px")
				img(src="/i/dummy.png")
			#content
				include includes/adminPostList.jade
				include includes/foot.jade

			include includes/nav.jade
