doctype html
html(lang="en")
	include includes/head.jade

	body
		#wrapper
			canvas#histogram(width="1000px",height="125px")
				img(src="/i/dummy.png")
			include includes/nav.jade
			#content
				.block
					.rule
					.two
						.fourohfour
							h1
								| #{status}
						p.doublePad
							| We're sorry, your call cannot be completed as dialed.
					.clear
				include includes/foot.jade