!!! 5
html(lang="en")
	include includes/head.jade
	body
		#wrapper
			canvas#histogram(width="765px",height="200px")
				img(src="/i/dummy.png")
			#content
				include includes/post.jade
				include includes/foot.jade
			include includes/nav.jade